
body{
 background-color:#eae1e763;
}

.background{
    background-color:  rgb(192, 118, 192);
}

.search-tab{
    padding : 5px 15px 5px 15px;
    background-color: #d9badde8;
    color: #aa84afe8;
    border: none;
}

.search-tab:hover{
    width: 35% ;
    cursor: pointer;
}

input:hover{
    width: 100% left;
}